<article class="card theme-col-8-4 container">
	<header ng-if="info.title">
		<neekrung-title my-title="info.title" 
			next-post="nextPost()" 
			prev-post="prevPost()"  
			len="info.posts.length" 
			view-all="info.viewAll"
			link="info.link"></neekrung-title>
	</header>
	<div class="body fade-animate" 
		ng-repeat="post in info.posts"
		ng-show="$index==current">
		<div class="sec big-sec image-container pic" >
			<div class="image pic-image" ng-style="post.bgStyle" ></div>
			<span class="pic-caption bottom-to-top" style="color:white">
				<div>
	                <button class="btn btn-default btn-banner fixed"> 
	                    <i class="neekrung-icon icon-map-marker"></i>
	                </button>	
				</div>
				<div>
					<button class="btn btn-default btn-banner fixed" facebook-share="fullURL(post.link)"> 
	                    <i class="neekrung-icon icon-share"></i>
	                </button>	
				</div>
                
			</span>

		</div>    	
		<div class="sec small-sec text-container">
			<div class="row-33 column-name">
				<a class="link" ng-href="{{post.link}}">
					<span class="bigger bold">{{post.category}}</span>
				</a>
				<hr>
			</div>
			<div class="column-detail link" ng-class="post.credit.length>0?'row-33':'row-66'">
				<a ng-href="{{post.link}}">
					<div class="big">{{post.title}}</div>
					<div class="small" ng-style="textAlignByLength(post.short_detail)"> {{post.short_detail}}</div>
				</a>
			</div>
			<div class="row-33 column-detail credit">
				<div class="smaller" ng-repeat="credit in post.credit">{{credit}}</div>
			</div>
		</div>    		

	</div>
</article>