<article class="card theme-col-4-4-4 extra container">
	<header>
		<neekrung-title my-title="info.title" view-all="true" link="info.link" ></neekrung-title>
	</header>

	<div class="body row">
		<div class="col-sm-4 col" ng-repeat="post in info.posts" ng-class="$index<3?'':'followed-col'">
			<div class="row-50 article-image" square>
				<div class="image" ng-style="post.bgStyle"></div>
			</div>
			<div class="row-50 article-detail" square> 
				<div class="big row-60 small link" style="display: table;" ng-click="linkTo(post.link)">
					<a ng-href="{{post.link}}" style="display: table-cell;vertical-align: middle;">
						<span >{{post.title}}</span>
					</a>
				</div>
				<hr>
				<div class="big row-20 smaller" ng-if="post.credit.length>0">{{post.credit[0]}}</div>
			</div>
		</div>  

		<div class="col-sm-4 col" ng-if="info.newPostBtn" ng-class="info.posts.length<3?'':'followed-col'">
			<div class="row-100 article-detail link" style="padding-top: 160px;" ng-click="info.newPost()()"> 
				<div class="bigger">
					<i class="fa fa-plus-circle"></i>
				</div>
				<div> เพิ่มเรื่องราว</div>
			</div>
		</div>  

	</div>
</article>