<article class="card theme-col-12 container">
	<header>
		<neekrung-title my-title="info.title" view-all></neekrung-title>
	</header>
	<div class="body row">
		<div class="col-sm-12 tv-container">
			<iframe class="tv" ng-src="{{info.link | toURL}}" frameborder="0" allowfullscreen></iframe>
		</div>    		
	</div>
</article> 