<article class="card theme-col-12 container" ng-init="current=0">
	<header ng-if="info.title">
		<neekrung-title my-title="info.title"></neekrung-title>
	</header>
	<div class="body row" 
		ng-repeat="post in info.posts" 
		ng-show="$index==current">
		<div class="col-sm-12 not-fixed-height link" ng-click="linkTo('/p/test')">
			<img ng-src="{{imageURL(post.image_url)}}">
		</div>    		
	</div>
</article>