<article class="card theme-col-4-4-4 container">
	<header>
		<neekrung-title my-title="info.title" view-all="true" link="info.link"></neekrung-title>
	</header>
	
	<div class="body row">
		<div class="col-sm-4 article-image" ng-repeat="post in info.posts">
			<div class="row-50" square>
				<div class="image" ng-style="post.bgStyle"></div>
			</div>
			<div class="row-50 article-detail" square>
				<div class="big row-50 small link" style="display: table;">
					<a ng-href="{{post.link}}" style="display: table-cell;vertical-align: middle;">
						<span >{{post.title}}</span>
					</a>
				</div>
				<hr>
				<div>
					<button class="btn btn-default btn-banner fixed"> 
                    	<i class="neekrung-icon icon-map-marker"></i>
                	</button>
                	<button class="btn btn-default btn-banner fixed"> 
	                    <i class="neekrung-icon icon-share"></i>
	                </button>
				</div>
			</div>
		</div>    		

	</div>
</article> 