<!-- <article class="card theme-col-8-4 container" ng-init="current=0">
	<header ng-if="info.title">
		<neekrung-title my-title="info.title" view-all="true" ></neekrung-title>
	</header>
	<div class="body row" 
		ng-repeat="post in info.posts" 
		ng-show="$index==current">
		<div class="col-sm-4 text-container">
			<div class="row-33 column-name">
				<a class="link" ng-click="linkTo(post.link)">
					<span class="bigger bold">{{::post.category}}</span>
				</a>
				<hr>
			</div>
			<div class="column-detail link" ng-class="post.credit.length>0?'row-33':'row-66'" ng-click="linkTo(post.link)">
				<div class="big">{{::post.title}}</div>
				<div class="small" ng-style="textAlignByLength(post.short_detail)"> {{::post.short_detail}}</div>
			</div>
			<div class="row-33 column-detail credit">
				<div class="smaller" ng-repeat="credit in post.credit">{{::credit}}</div>
			</div>
		</div>    		
		<div class="col-sm-8 image-container" >
			<div class="image" ng-style="post.bgStyle"></div>
		</div>
	</div>
</article>
 -->