<div class="article-header">
	<div class="card-title big bold"> {{myTitle}} </div>
	<div class="card-move-btn move-to-prev"  ng-if="!viewAll">
		<span class="glyphicon glyphicon-menu-left" ng-click="prev()"></span>
	</div>
	<div class="card-move-btn move-to-next" ng-if="!viewAll">
		<span class="glyphicon glyphicon-menu-right" ng-click="next()"></span>
	</div>

	<div class="card-move-btn view-all" ng-if="viewAll"> 
		<div class="small">
			<a ng-href="{{link}}">view all <span class="glyphicon glyphicon-menu-right"></span> </a>
		</div> 
	</div>
</div>