
<footer class="neekrung-footer">
	<div class="back-to-top">
	    <button class="btn btn-default btn-neekrung" ng-click="gotoTop()">
	        <span class="glyphicon glyphicon-menu-up"></span>
	    </button>
	</div>

	<div class="sponsor container-fluid">
		<div class="sponsor-col" ng-repeat="index in [0,1,2,3,4]" ng-class="index==4?'last':''">
			<div>
				<div class="sponsor-image-container">
					<img ng-src="{{sponsor[index*2]}}">	
				</div>
				<hr>
				<div class="sponsor-image-container">
					<img ng-src="{{sponsor[index*2+1]}}">	
				</div>	
			</div>
			
		</div>
	</div>
	<div class="footer-menu">
		<div class="copyright smaller" >
			<div >
				<a href="https://www.facebook.com/neekrungmagazine">
					<img src="/icon/footer_facebook.png" style="width: 100px;">
				</a>
			</div>
			<div> Copyright @  2011 neekrung, All rights reserved.</div>
			<div>The neekrung brand and logo are property of Trend Setter Co.,Ltd.</div>
		</div>	
	</div>

	<div class="copyright smaller secrect" >
		
	</div>
</footer>