<nav class="navbar navbar-neekrung navbar-default navbar-fixed-top" ng-controller="navbarController as ctrl" ng-class="ctrl.bigClass?'big-logo':''">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-init="openMenu=false" ng-click="openMenu=!openMenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand link" ng-click="ctrl.moveTo('home')">
        <img ng-src="{{ctrl.logoURL}}">
      </a>
    </div>

    <div uib-collapse="!openMenu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-center" id="top-logo">
        <li ng-click="ctrl.moveTo('home')" >
          <img ng-src="{{ctrl.logoURL}}">
        </li>
        <li class="search">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-center" ng-click="openMenu=false">
        <li ng-class="ctrl.selectedMenu=='about-us'?'active':''" class="big" ng-click="ctrl.moveTo('about-us')" >
          <a class="link small"><span>About us</span></a>
        </li>
        <li ng-class="ctrl.selectedMenu=='recommended'?'active':''" class="big" ng-click="ctrl.moveTo('recommended')" >
          <a class="link small"><span>Recommended</span></a>
        </li>
        <li ng-class="ctrl.selectedMenu=='city-detox'?'active':''" class="big" ng-click="ctrl.moveTo('city-detox')" >
          <a class="link small"><span>City Detox</span></a>
        </li>
        <li ng-class="ctrl.selectedMenu=='wlm'?'active':''" class="big" ng-click="ctrl.moveTo('wlm')" >
          <a class="link small">
            <span>
              World Longest Mag
            </span>
          </a>
        </li>
        <li ng-class="ctrl.selectedMenu=='news'?'active':''" class="big" ng-click="ctrl.moveTo('news')" >
          <a class="link small"><span>Activities</span></a>
        </li>
        <li ng-class="ctrl.selectedMenu=='member'?'active':''" class="big" ng-click="ctrl.moveTo('member')" >
          <a class="link small"><span>Member</span></a>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-logo" >
            <div>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  
            </div>
            
        </li>
      </ul>
    </div>
  </div>
</nav>