<section class="neekrung-page-header">
    <header>
		<div class="page-title">
			<div class="bigger bold">{{myTitle}}</div>
			<hr>
			<div class="big">{{subTitle}}</div>
		</div>
	</header>
</section>