<div class="col-text-text row">
	<div class="col-sm-6"> 
		<img ng-src="{{imageURL(info.image_url)}}" ng-if="info.image_url">
	</div>
	<div class="col-sm-6 text small" ng-bind-html="info.text[0] | toHTML"> </div>
</div>