<div class="row" style="margin-bottom:10px">
	<div class="col-sm-2" ng-if="ngModel" ng-hide="preview">
	    <img class="cover fade-animate" ng-src="{{imageURL(ngModel)}}">    
	</div>
	<div class="col-sm-2" ng-if="previewImage" ng-show="preview">
	    <img class="cover fade-animate" ng-src="{{previewImage}}" >    
	</div>
	
	<div class="col-sm-10" ng-hide="preview">
	    <label>File input</label>
	    <div>
	        <input type="file" ng-change="previewImage()" ng-model="selectedImage" accept="image/*">
	        <p class="help-block"> {{helper}}</p>
	    </div>

	</div>  

	<div class="col-sm-10" ng-show="preview">
	    <label> Upload this image?</label>
	    <div class="form-group" ng-hide="uploadding">
	        <button type="button" class="btn btn-info" ng-click="upload()">Upload</button>
	        <button type="button" class="btn btn-danger" ng-click="cancle()">Cancle</button>
	    </div>
	    <div>
	    	<div class="throbber-loader loader" ng-show="uploadding">
			    Loading...
			</div>	
	    </div>
	    
	</div>  
</div>