<div class="row" style="margin-bottom:10px">
    <div class="col-sm-10" ng-hide="selected">
        <label>File input</label>
        <div>
            <input type="file" ng-model="selectedFile" accept="application/pdf">
            <p class="help-block"> your pdf must not over 100 MB.</p>
        </div>

    </div>  

    <div class="col-sm-10" ng-show="selected">
        <label> Upload this file?</label>
        <div class="form-group" ng-hide="uploadding">
            <button type="button" class="btn btn-info" ng-click="upload()">Upload</button>
            <button type="button" class="btn btn-danger" ng-click="cancle()">Cancle</button>
        </div>
        <div>
            <div class="throbber-loader loader" ng-show="uploadding">
                Loading...
            </div>  
        </div>
        
    </div>  
</div>