<div class="content-form preview"> 
    <div class="border content-preview" ng-repeat="content in ngModel track by $index">
        <div>
            <section class="post-content card container">
                <div ng-if="content.title" class="big center content-title" ng-bind-html="content.title | toHTML"></div>
                <neekrung-dynamic template="content.template" info="content"></neekrung-dynamic> 
            </section>
        </div>
        <div class="content-preview-form">
            <div>
                <button type="button"  class="btn btn-info" ng-click="box(content)"> Edit </button>
                <button type="button"  class="btn btn-danger" ng-click="deleteContent($index)"> Delete </button>    
            </div>

            <div>
                <button type="button"  class="btn btn-default" ng-hide="$index==0">
                    <i class="fa fa-chevron-up" ng-click="swap($index-1,$index)"></i>
                </button>
                <button type="button"  class="btn btn-default" ng-hide="$index==ngModel.length-1">
                    <i class="fa fa-chevron-down" ng-click="swap($index,$index+1)"></i>
                </button>
            </div>
            
        </div>
    </div>
    <div class="border content-preview new">
        <div>
            <button type="button"  class="btn btn-default" ng-click="box()"> + New Box</button>
        </div>
    </div>
    
</div>