@import '../global';
@import '../content-form';

.wrapper{
	background: #f0f3f4;
}

.panel{
	.panel-heading{
		text-transform: inherit;
	}
}

.admin-header{
	margin-bottom: 10px;
	
	*{
		display: inline-block;
	    margin: 10px 0px;	
	}

	h2{
		font-weight: inherit;	
		margin-right: 20px;
	}

	.btn{
		vertical-align: top;
    	margin: 10px 0px;
	}
	
}