.preview{
	font-family: 'Kanit', sans-serif;
	font-weight: 200;
	font-size: 15px;


	.bigger{
		font-size: 25px;
	} 

	.big{
		font-size: 18px;
	}

	.small{
		font-size: 15px;
	}

	.smaller{
		font-size: 12px;
	}

	.bold{
		font-weight: 500;
	}


	.card{
		max-width: 700px;

		text-align: center;
	}

	.post-credit{
		text-align: left;
	}

	.post-content{
		text-align: justify;

		.content-title{
			margin: 15px;
		}

		img{
			width: 100%;
		}


		.col-text-text.extra{
			display: table;
			>div{
				display: table-cell;
	    		width: 50%;
	    		&.extra{
	    			vertical-align: middle;
	    			border-right: 1px solid;
	    		}
	    		&:not(.extra){
	    			padding-left: 10px;
	    		}
			}
		}

		.col-text{
			text-align: center;
		}
	}
	

}
