.content-form{
  min-height: 80px;
    width: 100%;

    > .row{
      margin: 0px;
    }

    .content-preview{
      margin-bottom: 20px;
      display: table;
      width: 100%;

      >div{
        display: table-cell;
      }

      .content-preview-form{
        padding: 10px;
        text-align: center;
        >div{
          margin-bottom: 10px;
        }
      }
      &:hover{
        .content-preview-form{
          background: #eee;
        }
      }

      &.new{
        text-align: center;
        padding: 20px;
      }
    }

    
    
}