
.inline{
	display: inline-block;
}

.link{
	cursor: pointer;
}

.center{
	text-align: center;
}

.row-100{
  height: 100%;
}

.row-80{
  height: 80%;
}

.row-66{
  height: 60%;
}

.row-60{
  height: 60%;
}

.row-50{
  height: 50%;
}

.row-33{
	height: 33%;
}

.row-20{
	height: 20%;
}

.ng-hide-add {
	display: none !important;
}

.circle-icon{
	background: black;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: white;
    padding: 6px;
}

.btn-banner{
    background: rgba(0,0,0,0.6);
    border: none;
    color: white;
    border-radius: 20px;
   	font-weight: inherit;
   	&.fixed{
   		max-width: 32px;
   		
      .icon-map-marker{
        margin-left: -3px;
        margin-top: -3px;
      }
   	}

   	&:hover,&:active,&:focus{
   		background: black;
   		color: white;
   	};
}


.border{
  border: 1px solid #eee;
}

.template-icon{
  width: 30px;
}

.btn:focus,.btn:active {
  outline: none !important;
}