<neekrung-page-header my-title="ctrl.title" sub-title="ctrl.subTitle" class="brown"></neekrung-page-header>
<section class="what-is">
	<article class="card about-us container">
		<neekrung-about-header my-title="'About Us'" my-context="'“  The creative traveling life stories  ”'"></neekrung-about-header>
		<div class="body row">
		<pre class="small">
	หนีกรุงคืออะไร..ไม่รู้สิ พวกเราเองก็ร้อนก้นอยู่เหมือนกัน 
นิตยสารท่องเที่ยวภาษาอะไร ไกด์บุ๊คก็ไม่ใช่..สารคดีก็ไม่เฉี่ยว..
อาจเป็นเพราะคำว่าท่องเที่ยวแบบของ เรา..เป็นอะไรแบบบางๆเบาๆ..
ละลายเหงา..ละลายทุกข์ ไปเจอสายรุ้ง..ไปเจอสายหมอก..ไปเห็นอีกโลกที่ไม่มีอยู่ในเมือง..
มันจึงเหมือนเราไปเก็บเกี่ยวนิทานอันแสนสนุกมาเล่าสู่กันฟัง

ถ้าอย่างนั้น อ่านหนีกรุงแล้วได้อะไร ก็คงตอบได้สถานเดียวว่า.. ได้บรรยากาศ
เป็นบรรยากาศที่คุณอ่านแล้วเหมือนได้ สูดกลิ่น..ได้ยิน..ได้เห็น..
ในสิ่งที่เราเรียกกันว่า ความสวยงามของ การใช้ชีวิต ระคนไปกับแง่มุมความคิด
ของการนำเสนอแบบไม่ปรุงสำเร็จ คือไม่ใช่อ่านเสร็จจบ สิ่งที่คุณจับต้องได้จากหนีกรุง 
จึงเป็นศิลปะของมุมมอง..ที่เห็นบางอย่างมากกว่าแค่ได้มอง ได้ยิน
บางอย่างมากกว่าแค่ได้ฟัง ได้สัมผัสถึงมากกว่าแค่จับต้อง
นั่นเพราะสิ่งที่คุณได้อ่านมันไม่ใช่สิ่งที่เราถอดออกมาจากเครื่องอัดเสียง
แต่มันถูกถ่ายทอดมาจากเครื่องบึนทึกที่เรียกว่า..อารมณ์ 
			</pre>
		</div>
	</article> 
</section>

<section class="who-is">
	<article class="card about-us  container">
		<neekrung-about-header my-title="'People'" my-context="'“  Ordinary people do extra ordinery things  ”'"></neekrung-about-header>
		<div class="body row">
			<div class="user-container" ng-repeat="user in ctrl.member">
				<div ng-repeat="info in user" ng-class="ctrl.getInfoClass(info)">
					<div ng-if="info.imageURL">
						<img ng-src="{{info.imageURL}}">	
					</div>
					
					<div ng-if="info.userInfo">
						<div class="big" ng-repeat="u in info.userInfo"> {{u}}</div>
					</div>
					<div class="frame" ng-class="'frame'+($index+1)"></div>
				</div>	
			</div>
			
		</div>
	</article> 
</section>
<section class="where-is">
	<article class="card about-us  container">
		<neekrung-about-header my-title="'Contact Us'" my-context="'The Neekrung Publishing Co.,Ltd.'"></neekrung-about-header>
		<div class="body row">
			<div class="address">
				<div class="bold">The Neekrung Publishing  Co.,Ltd.</div>
				<div>408/52 Phaholyothin Place Bldg., 12th Floor  </div>
				<div>Phaholyothin Rd, Samsennai </div>
				<div>Phayathai, Bangkok 10400 </div>
				<div>Tel. 0 2619 0731,0 26191985-8 </div>
				<div>Fax 0 26191989 </div>
				<div>E-mail. neekrung@neekrung.com</div>	
			</div>
			<hr>
			<div class="contact">
				<div class="bold">ติดต่อโฆษณา สอบถามรายละเอียดได้ที่ </div>
				<div>คุณฐิติรัตน์ โทร. 081 302 0939 </div>
				<div>คุณพรศักดิ์ โทร. 081 588 1587</div>
			</div>
			<div class="contact">
				<div class="bold">ติดต่อสมัครสมาชิก สอบถามรายละเอียดได้ที่ </div>
				<div>คุณฐิติรัตน์ โทร. 081 302 0939 </div>
				<div>คุณพรศักดิ์ โทร. 081 588 1587</div>
			</div>

			<iframe class="map" src="http://maps.google.com/maps?q=13.7781474,100.5457885&z=18&output=embed"></iframe>
			<!-- <ui-gmap-google-map center='{ latitude: , longitude:  }' zoom='20'></ui-gmap-google-map> -->
			
		</div>
	</article> 
</section>