<neekrung-page-header my-title="ctrl.title" sub-title="'วลีหนีกรุง'" class="blue"></neekrung-page-header>
<section class="page-city-detox card container">
	<div class="col-sm-6 article-col" ng-repeat="col in [0,1]">
		    <article ng-repeat="post in ctrl.posts | modulo:2:col" class="card" >
				<div class="body">
					<div class="article-image pic">
						
						<div class="image pic-image" ng-style="post.bgStyle"></div>
						<span class="pic-caption bottom-to-top" style="color:white">
							<div class="caption-container">
								<button class="btn btn-default btn-banner" ng-click="ctrl.box(post)"> 
				                    view
				                </button>	
							</div>
			                
						</span>

					</div>
				</div>
			</article> 		
	</div>
</section>