<section class="banner">
    <uib-carousel interval="0" no-wrap="noWrapSlides">
      	<uib-slide>
        	<div class="carousel-image" ng-style="ctrl.magazine.bgStyle"></div>
	        <div class="carousel-caption">
	          <p>
                <div class="bigger" style="margin-bottom:10px">{{ctrl.magazine.image.caption}}</div>
                <button class="btn btn-default btn-banner"> 
                    <i class="neekrung-icon icon-map-marker"></i>
                    Location
                </button>
                <button class="btn btn-default btn-banner fixed"> 
                    <i class="neekrung-icon icon-share"></i>
                </button>
              </p>
	        </div>
      	</uib-slide>
    </uib-carousel>
    <div class="strip"></div>
    <div class="magazine-vol big bold">
        Vol. <span> {{ ctrl.magazine.vol}}</span>    /    <span> {{ ctrl.magazine.month | month}}</span> <span> {{ ctrl.magazine.year}}</span></div>
</section>

<section 
    ng-class="{{section.name}}" 
    ng-repeat="section in ctrl.sections">
    <neekrung-dynamic info="section"></neekrung-dynamic> 
</section>

<section class="neekrung-book">
    <article class="card theme-wider container" resize="ctrl.getNBook(width)">
    	<header>
    		<neekrung-title my-title="'Neekrung Magazine'"></neekrung-title>
    	</header>
    	
    	<div class="body">
			<div ng-repeat="i in [] | arr:ctrl.nBook">
				<img ng-src="{{ctrl.books[i].imageURL}}">
				<div class="small">No.009 Vol.2 </div>
				<div class="small">September 2013</div>
			</div>    		

    	</div>
	</article> 
</section>