<!-- <neekrung-page-header my-title="'Magazine'" sub-title="ctrl.magazineSpine" ></neekrung-page-header> -->

<section class="pdf-viewer">
	<article class="container-fluid" style="margin-top: 50px;">
		<div id="documentViewer" class="flexpaper_viewer" style="position: relative;"></div>	
	</article>
</section>
