<neekrung-page-header my-title="'Member'" sub-title="'Signup'" class="violet" ></neekrung-page-header>
<section class="member-container form card container" ng-init="ctrl.init()">
	<div class="form-horizontal" ng-hide="ctrl.requestSenging">
		<div class="form-group">
			<button 
				type="button"
				class="btn btn-facebook big" 
				ng-hide="ctrl.requestSenging" 
				ng-disabled="!ctrl.readyToFB"
				ng-click="ctrl.fbLogin()">
				<span style="float: left;padding-right: 10px;border-right: 1px solid;">
					<span class="fa fa-facebook"></span>

				</span>
				
				ดำเนินการต่อด้วย Facebook
			</button>
			<div class="throbber-loader" ng-show="ctrl.requestSenging">
			    Loading...
			</div>
		</div>	
		<div class="hr">
			<hr>
			<span class="small">หรือ</span>
			<hr>
		</div>
		<form name="signupForm">
			<div class="form-group">
				<input required ng-model="ctrl.userObj.email" type="email" class="big form-control" placeholder="E-mail">
			</div>	
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<input required ng-model="ctrl.userObj.name" type="text" class="big form-control" placeholder="Name">	
					</div>
					<div class="col-sm-6">
						<input required ng-model="ctrl.userObj.surname" type="text" class="big form-control" placeholder="Surname">
					</div>
				</div>
				
			</div>	
			<div class="form-group">
				<input ng-minlength="5" required ng-model="ctrl.userObj.password" type="password" class="big form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<input ng-minlength="5" required match="ctrl.userObj.password" ng-model="ctrl.userObj.repassword" type="password" class="big form-control" placeholder="Password Again">
			</div>

			<div class="form-group">
				<button type="button" ng-disabled="signupForm.$invalid" ng-click="ctrl.signup()" class="big btn btn-signup"> Sign up</button>
			</div>
		</form>
		<div class="hr">
			<a class="link small" ng-click="ctrl.linkTo('login')">
				Log in
			</a>
		</div>
		
	</div>
	<div class="throbber-loader loader" ng-if="ctrl.requestSenging">
	    Loading...
	</div>
</section>