<neekrung-page-header my-title="'Member'" sub-title="'Login'" class="violet"></neekrung-page-header>
<section class="member-container form card container" ng-init="ctrl.init()">
	<div class="form-horizontal" ng-hide="ctrl.requestSenging">
		<div class="form-group">
			<button 
				type="button" 
				class="btn btn-facebook big" 
				ng-disabled="!ctrl.readyToFB"
				ng-click="ctrl.fbLogin()"> 
				<span style="float: left;padding-right: 10px;border-right: 1px solid;">
					<span class="fa fa-facebook"></span>

				</span>
				
				ดำเนินการต่อด้วย Facebook
			</button>
		</div>	
		<div class="hr">
			<hr>
			<span class="small">หรือ</span>
			<hr>
		</div>
		<form name="loginForm" autocomplete="off" >
			<div class="form-group">
				<input required ng-model="ctrl.userObj.email" autocomplete="off" type="text" class="big form-control" placeholder="E-mail">
			</div>	
			<div class="form-group">
				<input required ng-model="ctrl.userObj.password" autocomplete="off" type="password" class="big form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<button type="button" ng-disabled="loginForm.$invalid" ng-click="ctrl.login()" class="big btn btn-login"> LOG IN</button>
			</div>
		</form>

		<div class="hr">
			<a class="link small" ng-click="ctrl.linkTo('signup')">
				Sign up
			</a>
		</div>
	</div>
	<div class="throbber-loader loader" ng-if="ctrl.requestSenging">
	    Loading...
	</div>
</section>