<neekrung-page-header my-title="'Member'" sub-title="'Profile'" class="violet"></neekrung-page-header>
<section class="member-container card container">
	<form class="row member-info-form">
		<div class="col-sm-4 profile">
			<neekrung-choose-image ng-model="ctrl.user.image_url" helper="'Must be 1000x100px'"></neekrung-choose-image>
		</div>
		<div class="col-sm-8 neekrung-form">
			
			<div class="form-group">
				<input required ng-model="ctrl.user.email" type="email" class="big form-control" placeholder="E-mail" disabled>
			</div>	
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<input required ng-model="ctrl.user.name" type="text" class="big form-control" placeholder="Name">	
					</div>
					<div class="col-sm-6">
						<input required ng-model="ctrl.user.surname" type="text" class="big form-control" placeholder="Surname">
					</div>
				</div>				
			</div>	

			<div class="form-group">
				<input ng-model="ctrl.user.tel" type="text" class="big form-control" placeholder="Tel.">
			</div>	

			<div class="form-group">
				<input ng-model="ctrl.user.website" type="text" class="big form-control" placeholder="Website">
			</div>	

			<div class="form-group">
				<textarea rows="4" ng-model="ctrl.user.bio" class="big form-control" placeholder="Bio"></textarea>
			</div>	
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<button type="button" class="big btn btn-signup"> Submit</button>
					</div>
					<div class="col-sm-6 logout" ng-controller="authController as authCtrl">
						<a class="link small" ng-click="authCtrl.logout()">
							Logout
						</a>
					</div>
				</div>
			</div>
		

		</div>
	</form>

</section>

<section class="my-post" ng-if="!ctrl.postForm">
    <neekrung-dynamic info="ctrl.myPost"></neekrung-dynamic> 
</section>

<section class="my-post member-container card container" ng-if="ctrl.postForm">
	<neekrung-title my-title="'My Article'" view-all="true"></neekrung-title>

    <form role="form" ng-submit="ctrl.submitPost()">
        <div class="form-group row">
            <div class="col-sm-12">
                <label> Title </label>
                <input type="text" class="form-control" placeholder="Title" ng-model="ctrl.newPost.title">    
            </div>
        </div>

        <div class="form-group">
            <label>Cover</label>
            <div class="file-box">
                <neekrung-choose-image ng-model="ctrl.newPost.image_url" helper="'Must be 1800x600 px'"></neekrung-choose-image>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <label> 
                    Contents
                </label>
                <neekrung-contents-form ng-model="ctrl.newPost.contents" template-list="['text','img']"></neekrung-contents-form>
                
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-info">Submit</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.canclePost()">Cancle</button>
        </div>
        
    </form>
</section>