<neekrung-page-header my-title="ctrl.title" sub-title="ctrl.subTitle" class="red"></neekrung-page-header>
<section ng-repeat="post in ctrl.articles">
    <neekrung-dynamic info="post"></neekrung-dynamic> 
</section>