<neekrung-page-header my-title="ctrl.post.category" sub-title="ctrl.post.title" class="green"></neekrung-page-header>
<section class="post-credit card container">
	<div class="smaller"> {{ctrl.post.created_at}}</div>
    <div class="smaller" ng-repeat="credit in ctrl.post.credit">{{::credit}}</div>
</section>
<section class="post-content card container" ng-repeat="content in ctrl.post.contents">
	<div ng-if="content.title" class="big center content-title" ng-bind-html="content.title | toHTML"></div>
    <neekrung-dynamic template="content.template" info="content"></neekrung-dynamic> 
</section>
    
