<neekrung-page-header my-title="'Recommended'" sub-title="ctrl.subTitle" class="green" ></neekrung-page-header>
<section class="page-wlm card container">
	<div class="col-sm-4 article-col" ng-repeat="col in [0,1,2]">
		    <article 
		    	ng-repeat="post in ctrl.posts | modulo:3:col" 
		    	class="card not-first" >

				<div class="body row">
					<div class="article-image">
						<img ng-src="{{post.imageURL}}">
					</div>
					<div class="article-detail link">
						<div class="inner">
							<div class="small row-60">
								<a ng-href="{{post.link}}">
									{{post.title}} 
								</a>
							</div>
							<hr>
							<div class="smaller row-20" ng-if="post.credit.length>0">{{post.credit[0]}}</div>
						</div>
					</div>

				</div>
			</article> 		
	</div>
</section>