<neekrung-page-header my-title="ctrl.title" sub-title="ctrl.subTitle" class="yellow" ></neekrung-page-header>
<section 
    ng-class="{{section.name}}" 
    ng-repeat="section in ctrl.sections" ng-show="section.posts.length>0">
    <neekrung-dynamic info="section"></neekrung-dynamic> 
</section>