<neekrung-page-header my-title="ctrl.title" sub-title="ctrl.subTitle" class="brown"></neekrung-page-header>

<section class="wlm-magazine-container">
	<div class="magazine-viewport container-fluid">
		<div class="">
			<div class="magazine">
				<div class="hard page cover"> 
					<div class="title">World longest Magazine</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="btn-container">
    <button class="btn btn-default btn-neekrung">
        <span class="glyphicon glyphicon-plus"></span> 
        <span class="bigger"> ร่วมเล่าเรื่องราว</span>
    </button>
</section>
<section class="tag-contanier card container">
    <div class="bold bigger"> Tag </div>
    <div class="small">
    	<span ng-repeat="tag in ctrl.tags"> 
    		<span ng-if="$index!=0"> //</span>
    		{{tag}}
    	</span>
    </div>
</section>

<section class="page-wlm card container">
	<article class="first col-sm-12">
		<div class="body row">
			<div class="col-sm-12 article-image">
				<img ng-src="{{ctrl.posts[0].imageURL}}">
			</div>  
			<div class="col-sm-4 article-detail link">
				<div class="row-60 ">
					<span class="article-title small">
						<a ng-href="{{ctrl.posts[0].link}}">
							{{ctrl.posts[0].title}} 
						</a>
					</span>

				</div>
				<hr>
				<div class="row-20 smaller" ng-if="ctrl.posts[0].credit.length>0">{{ctrl.posts[0].credit[0]}}</div>
			</div>

		</div>
	</article> 

	<div class="col-sm-4 article-col" ng-repeat="col in [0,1,2]">
		    <article 
		    	ng-repeat="post in ctrl.posts | modulo:3:col" 
		    	class="card not-first" >

				<div class="body row">
					<div class="article-image">
						<img ng-src="{{post.imageURL}}">
					</div>
					<div class="article-detail link">
						<div class="inner">
							<div class="small row-60">
								<a ng-href="{{post.link}}">
									{{post.title}} 
								</a>
							</div>
							<hr>
							<div class="smaller row-20" ng-if="post.credit.length>0">{{post.credit[0]}}</div>
						</div>
					</div>

				</div>
			</article> 		
	</div>
</section>