@import '../responsive';

.who-is{
	.body{
		.user-container{
			display: table;
			height: 200px;
			width: 100%;
			padding-right: 0px;
			margin-top: 60px;

			> div{
				display: table-cell;
				background: rgb(109,110,113);
				position: relative;
				width: 33%;
				vertical-align: middle;
			}

			.profile-container{
				/*width: 200px;*/
				img{
					width: 100%;
				}
			}

			.info-container{
				/*width: 220px;*/
				background: #fff;
			}

			@include respondsive-free(0,($break-large)-1) { 
		    	.space-container{
					display: none;
				}	
		    }

			.frame{
				position: absolute;
			    top: 10px;
			    bottom: 10px;
				border-top: 2px solid #eee;
			    border-bottom: 2px solid #eee;

				&.frame1{
				    left: 10px;
				    right: 0px;
				    border-left: 2px solid #eee;
				}

				&.frame3{
				    right: 10px;
				    left: 0px;
				    border-right: 2px solid #eee;
				}

				@include respondsive-free(0,($break-large)-1) { 
					&{
						display: none;
					}
			    }
			}
			
		}
	}
}

.where-is{
	.body{
		padding-top: 50px;
		.address{
			text-align: left;
		}
		.contact{
			text-align: left;
			padding-bottom: 20px;
		}

		.map{
			width: 100%;
		    height: 400px;
		    border: none;
		    margin-top: 40px;
		}
	}


}
