@import '../responsive';

.card{
	max-width: 700px;
	text-align: center;

	.image{
		width: 100%;
	    height: 350px;
    	background-size: cover;
    	background-position: 50%;
    	@include respondsive-free(0,($break-small)-1) { 
			&{
				height: 250px;
			}
			    
		}
	}

	.image.sm{
	    height: 350px;
	}
	hr{
		border-top: 1px solid rgba(0, 0, 0, 0.25);
	}
	header{
		margin-bottom: 30px;
		.article-header{ 
			display: table;
			margin-bottom: 10px;
			width: 100%;

			> div{
				display: table-cell;

				&.card-title{
					text-align: left;
					background-color: rgb(53,53,53);	
				    padding: 0px;
				    padding-left: 25px;
					color: #fff;
				}

				&.card-move-btn{
					width: 35px;
					> *{
						padding: 5px;
						margin: 0px 0px 0px 5px;
						line-height: 31px;
						text-align: center;
						background-color: rgb(154,154,154);
					    min-width: 30px;	
					}

					a{
						text-decoration: none;
					    color: initial;
					}
					
				}

				&.card-move-btn.view-all{
					width: 90px;
					font-size: 20px;
					span.glyphicon{
						font-size: 10px;
					}
				}
			}
		}
	}

	.body{
		margin: 0px;
		text-align: center;

		> div{

			padding: 0px;
			/*padding-right: 5px;*/
			/*height: 380px;*/
			text-align: center;
		}

		.text-container,.article-detail{
			a{
				text-decoration: none;
				color: initial;
			}
		}

	}
	
	&.theme-col-8-4{
		.body{
		    display: table;
    		width: 100%;
    		.sec{
    			display: table-cell;
    		}
    		
    		.big-sec{
    		    width: 66%;
    			vertical-align: top;
    		}
			/*@include respondsive-free(0,($break-large)-1) { 
				&{
					display: table;
					width: 100%;

					.image-container{
						display: table-header-group;
					}
					.text-container{
						display: table-footer-group;
					}
				}
			}*/
		}
		.column-name{
		    padding: 30px 20px 20px 20px;
		}

		.column-detail{
			text-align: justify;
			width: 100%;
			padding: 20px;
		    word-break: break-word;
		    overflow: hidden;
		    &.credit, .big{
				text-align: center;
			}
		}
	}	

	&.theme-col-4-4-4{
		.body{
			>div{
				padding-right: 5px;
			}
		}

		div.tv{
			height: inherit;
		}
		
		.article-image{
			.image{
				height: 100%;
			}

			&:hover,&:active,&:focus{
				.article-detail{
					background: rgba(154,154,154,0.5);	
				}
				
			}
		}
		.article-detail {
			overflow: hidden;
		}

		.article-detail > div{
			width: 80%;
		    margin: auto;

		    text-overflow: ellipsis;
    		overflow: hidden;

		    &.title{
				padding-top: 20px;
			}
		}

		hr{
			width: 50%;
		}

		&.extra{
			.col{
				margin-bottom: 0px;
				&.followed-col{
					margin-top: 5px;
				}
			}
			
			.article-detail{
				padding: 10px;
				background: rgba(0, 0, 0, 0.1);

				@include respondsive-free(0,($break-large)-1) { 
					.row-60{
					    height: inherit;
					}
				}
				
			}
		}
	
	}

	&.theme-col-12{
		.body{
			> div{
				padding: 0px;
			}

			img{
				width: 100%;
			}

			.not-fixed-height{
				height: inherit;
			}

		}
	}

	&.theme-wider{
		max-width: 1000px;

		.body{
			display: table;
			width: 100%;
			> div{
				text-align: left;
				display: table-cell;
				height: 250px;
				> div{
					text-align: center;
				}
			}
		}

		header .article-header div.card-title{
			background-color: inherit;
		    color: #000;
		    font-weight: bold;
		    font-size: 32px;
		    padding: 0px;
		}
		img{
			width: 135px;
			height: 180px;
			margin-bottom: 10px;
		}
	}

	&.about-us{
		.text{
			height: 55px;
			padding: 10px;
		}

		.card-title{
			background: rgb(53,53,53);
			color: #fff;
			
		}
		.card-context{
			background: rgb(253,231,200);
		}

		pre{
			background: #fff;
		    border: none;
		    padding-top: 50px;
		}
	}
}