.page-city-detox{
	.article-col{
		padding-right: 0px;

	}
	article{
		padding-right: 0px;
		display: inline-block;
		margin-bottom: 15px;
		width: 100%;

		.body{
			height: inherit;
			margin: 0px;
			width: 100%;
			.article-image{
				width: 100%;
				padding: 0px;
				height: inherit;

				margin-bottom: 0px;
				.caption-container{
					top: 50%;
				    position: relative;
				    text-align: center;

				    margin-top: -25px;

				    .btn-banner{
				    	height: 52px;
    					border-radius: 50px;
				    }
				}
			}
		}
	}
}

.modal-city-detox{
	.modal-content{
		border-radius: initial;
	}

	.modal-body{
		padding: 10px 15px 70px 15px;
		.close-btn{
		    float: right;
    		padding: 10px;
		}
	}

	.modal-btn{
	    margin: 10px 0px;
	}

	img{
		width: 100%;
	}
}