body,pre{
	font-family: 'Kanit', sans-serif;
	font-weight: 200;
	font-size: 15px;
}

.bigger{
	font-size: 25px;
} 

.big{
	font-size: 18px;
}

.small{
	font-size: 15px;
}

.smaller{
	font-size: 12px;
}

.bold{
	font-weight: 500;
}