@import '../responsive';

.back-to-top{
	text-align: center;
	padding: 100px 20px;
	margin-bottom: 100px;
}

footer.neekrung-footer{
	.sponsor{
		width: 100%;
		display: table;
		border-top: 1px solid #ddd;
    	border-bottom: 1px solid #ddd;
    	.sponsor-col{
			width: 20%;
			display: table-cell;

			margin: 15px 0px;

			border-right: 1px solid #ddd;

			vertical-align: middle;
			text-align: center;
			
			hr{
				width: 80%;
				margin: auto;
			}
			.sponsor-image-container{
				padding: 10px;
				width: 100%;
				margin: auto;
				img{
					max-width: 110px;
					position: relative;
				    top: 50%;
				    @include respondsive-free($break-small,($break-large)-1) { 
						max-width: 55px;
					}
					@include respondsive-free(0,($break-small)-1) { 
						max-width: 35px;
					}
					
					
				}
			}

			&.last{
				border-right: none;
			}
			
		}
	}	

	.footer-menu{
		height: 150px;

    	width: 100%;
    	background: #231F20;

    	margin: auto;

		text-align: center;
		display: table;

		.copyright{
			background-image: url("/icon/footer.png");
		    background-size: contain;
		    background-repeat: no-repeat;

			max-width: 700px;
		    color: white;
		    text-align: right;
		    margin: auto;

		    margin-top: 20px;
    		margin-bottom: 20px;
		}
		
	}
	
}