@import '../responsive';
@import '../global';
@import '../content-form';

.btn-neekrung{
	background-color: #fff;
	border-radius: inherit;
}

.btn-facebook{
	background: rgb(53,118,185) !important;
    color: white;
    border-radius: inherit;
    font-weight: 100;


    &:active,&:hover,&:focus{
    	color: white;
    }
}
neekrung-page-header{
    &.brown > .neekrung-page-header{
        background-color: #C7B299;
    }
    &.yellow > .neekrung-page-header{
        background-color: #F1E1BC;
    }
    &.green > .neekrung-page-header{
        background-color: #BDE0D3;
    }

    &.blue > .neekrung-page-header{
        background-color: #CDDFF3;
    }
    &.red > .neekrung-page-header{
        background-color: #F8D7CD;
    }
    &.violet > .neekrung-page-header{
        background-color: #DFCDE4;
    }
}

.neekrung-page-header{
    padding-top: 151px;
    padding-bottom: 100px;

	.page-title{
    	text-align: center;
	}

	hr{
		max-width: 200px;
        border-top: 1px solid #000;
	}

}

.loader.ng-leave{
	display: none;
}

.hr{
    margin-bottom: 100px;
	overflow: hidden;
	font-size: 18px;
    height: 25px;
    text-align: center;
    @include respondsive-free(0,($break-large)-1) { 
    	&{
    		width: 80%;
    		margin: auto;
    		margin-bottom: 45px;		
    	}
    }
	
}

section{
    margin-bottom: 100px;
}

.pic-caption{
    >div{
        text-align: left;
        margin-bottom: 10px;
    }
}

a.link{
    color: inherit;
    text-decoration: none;
}

#top{
    position: absolute;
    top: 0px;
}

.neekrung-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    vertical-align: middle;

    &.icon-map-marker{
        background-image:url("/icon/location_icon.png");
    }

    &.icon-share{
        background-image:url("/icon/share_icon.png");
        margin-left: -3px;
        margin-top: -3px;
    }

    &.icon-facebook{
        /*background-image: url()*/
    }
}