@import '../responsive';
$banner-height:500px;

.banner{
	margin-top: 170px;
	margin-bottom: 100px;

	@include respondsive-free(0,($break-large)-1) { 
		margin-top: 51px;
	}
	
	.carousel-image{
		height: $banner-height;	
	    background-size: cover;
    	background-position: 0% 50%;
	}

	.carousel-caption {

	    position: absolute;
	    top: 50%;
	    right: 10%;
	    left: 35%;

	    padding: 0px;
	    text-align: right;
	}

	.carousel-control,.carousel-indicators{
		display: none;
	}

	.carousel .item{
		opacity:1;
		transition:0.2s linear all;
	}
	.carousel .item.ng-animate{
		opacity:0.2;
	}
	
	.magazine-vol{
		line-height: 25px;
	    text-align: center;
	    background: rgb(154,154,154);
	    padding: 7px;
	    color: #fff;
	}

	.strip{
		position: relative;
		z-index: 1000;
	    height: 25px;
    	margin-top: -25px; 
		background: rgba(0, 0, 0, 0.25);
	}
}

@include respondsive-free(0,($break-small)-1) { 
	.tv-container{
		height: 200px !important;
	}
}

iframe.tv{
    width: 100%;
	height: 100%;
}