.member-container{
	max-width: 540px;

	.form-horizontal{
		width: 80%;
		margin: auto;
		.btn-login,.btn-signup{
			background: rgb(65,64,66);
			border-radius: inherit;	
			border-radius: 6px;
			font-weight: 100;
		}
	}

	.form-horizontal .form-group {
	    margin-right: 0px;
	    margin-left: 0px;
	}

	.form-horizontal,.neekrung-form{
		input,textarea{
			border-radius: inherit;	
			background: rgb(209,211,212);

			&:placeholder-shown { 
			  color:    #fff;
			}
		}
		
		.btn{
			width: 100%;
			color: white;

			background: rgb(65,64,66);
			border-radius: 6px;

		}

				
	}

	&.form{
		.hr{
		    font-size: 25px;
			overflow: inherit;
    		height: inherit;
    		margin: 45px 0px;
    		width: 100%;
    		
    		hr{
    			width: 43%;
			    display: inline-block;
			    vertical-align: middle;
    		}

    		a{
    			border-bottom: 1px solid #aaa;
    			color: #000;
    			&:hover{
    				font-weight:bold;
    				text-decoration: inherit;
    			}
    		}
		}
	}


	.member-info-form{
		.profile{
			.row > div{
				display: block;
				width: 100%;
				margin-bottom: 10px;
			}
			img{
				width: 60%;
				border-radius: 500px;
			}
		}

		.logout{
			text-align: right;
		    padding-top: 10px;
		    text-decoration: underline;
		}
		
	}
	
}

section.my-post{
	.article-header{
		>div.card-title{
			text-align: left;
			background: none;
		    color: #000;
		    padding: 0px;
		}

		>div.card-move-btn{
			display: none;
		}
	}

	form{
		text-align: left;
		margin-top: 30px;

		.file-box{
			padding: 10px;
	    	border: 1px solid #eee;
	    	margin: 0px;
		}
		img.cover{
			width: 150px;
		}

		.preview{
			.post-content{
				    max-width: 500px;
			}
		}
	}
}

.modal-editor{

	.border{
		padding: 20px;
	}

}