@import '../responsive';

$navbar-height:51px;

.navbar-neekrung{
    background-color: #fff;
    border-color: #e7e7e7;

    .nav.navbar-nav{
    	> li{
	    	> a{
	    		padding: 15px 0px 5px 0px;
	    		background-color: #fff;
	    	    /*padding-left: 10px;
    			padding-right: 10px;*/
	    	}
	    	&.active > a,&:hover >a, &:active >a ,&:focus >a , &.active > a{
	    		background-color: #fff;
	    		>span{
	    			font-weight: bold;
	    			display: inline-block;
				    border-bottom: 1px solid black;
				    padding-bottom: 2px;
	    		}
	    	}
	    }
    }
}

nav.navbar{
	height: $navbar-height;
	margin: 0px;

    #top-logo{
    	display: none !important;
    	border-bottom: 1px solid;
    	padding: 20px 0px;

    	img{
    		height: 80px;
    	}
    	> li{
    		float: left !important;
    	}
    	.search{
    		float: right !important;
    		margin-top: 35px;
    	}
    	@include respondsive-free(0,($break-large)-1) { 
			display: none !important;
		}
    }

    &.big-logo{
    	height: 180px;

    	#top-logo{
    		display: block !important;	
    		@include respondsive-free(0,($break-large)-1) { 
				display: none !important;
			}
    	}
 		.navbar-logo,.navbar-brand{
 			display: none !important;
 		}

 		@include respondsive-free(0,($break-large)-1) { 
			height: ($navbar-height);
		}	
    }

	.navbar-header{
		position: absolute;
		z-index: 100;
	}

	.navbar-brand{
		padding: 5px 0px 0px 10px;
		img{
			height: ($navbar-height)-10;	
		}

		@include respondsive-free(0,($break-large)-1) { 
			display: none;
		}
	}

	.collapse.navbar-collapse{
	    text-align: center;

	    .navbar-nav.navbar-center{
	    	width: 700px;
		    display: inline-block;
		    float: none;
		    vertical-align: top;

		    display: table;
    		margin: auto;

    		@include respondsive-free(($break-large)-1,900px) { 
				width: 600px;
			}	
    		
    		> li{
    			float: none;
    			display: table-cell;
    			@include respondsive-free(0,($break-large)-1) { 
					display: block;
					>a{
						padding: 13px 0px 15px 0px;
					}
				}
    		}
		}

		.navbar-nav.navbar-right{
			position: absolute;
			top: 0px;
    		right: 0px;
    		margin: 0px;	

		    .navbar-logo{
				>div{
					height: ($navbar-height)-1;	
					padding: 17px;
				}
			}
		}
	}

	@include respondsive-free(0,($break-large)-1) { 
		.navbar-header{
			position: inherit;
		}
		.navbar-right{
			display: none;
		}
		ul.navbar-center{
			display: block !important;
			text-align: left;
			margin-top: 0px;
			margin-bottom: 0px;
			li > a{
				padding-left: 10px !important;
			}
		}
	}
}
