@import '../responsive';

.post-credit{
	text-align: left;
	margin-bottom: 30px;
}

.post-content{
	margin-bottom: 20px;

	.content-title{
		margin: 15px;
	}

	text-align: justify;
	img{
		width: 100%;
	}

	
	@include respondsive-free(0,($break-large)-1) { 
    	.text{
    		padding: 10px 15px;
		}	
    }

	.col-text-text.extra{
		display: table;
		>div{
			display: table-cell;
    		width: 50%;
    		&.extra{
    			vertical-align: middle;
    			border-right: 1px solid;
    		}
    		&:not(.extra){
    			padding-left: 10px;
    		}
		}
	}

	.col-text{
		text-align: center;
	}
}