.wlm-magazine-container{
	position: relative;
	max-width: 700px;
	margin: auto;
	margin-bottom: 100px;
	.magazine-viewport{
		width: 100%;
		padding: 0px;
		margin:0px;
		position: initial !important;
	}	
	.magazine{
		position: initial !important;
		margin: auto !important;
		width: 100%;
		.page{
			img{
				width: 100%;
			}

			&.cover{
				background-size: cover;
				background-image: url("../image/banner/slide1.jpg");

				.title{
					color: white;
				    background: rgba(0, 0, 0, 0.25);
				    height: 50px;
				    line-height: 50px;
				    text-align: center;
				}
			}

			.magazine-content{
				padding: 50px 50px 0px;
				padding-top: 20px;
				> div{
					margin-bottom: 10px;
				}
				.date{
					font-size: 10px;
					position: absolute;
				    bottom: 0px;
				    left: 0;
				    right: 0;
				    text-align: center;
				}
				.image{

					height: 160px;
    				text-align: center;
    				img{
    					height: 100%;
						width: inherit;
						-webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.75);
						-moz-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.75);
						box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.75);
						max-width: 250px;
    				}

					margin-bottom: 50px;
				}
			}
		}
	}
}

.page-wlm{
	.article-col{
		padding-right: 0px;
		padding-left: 5px;
	}
	article{
		padding-right: 0px;
		display: inline-block;
		margin-bottom: 5px;

		.body{
			height: inherit;
			margin: 0px;
			.article-detail{
				height: inherit;
				background: #D1D3D3;

				margin-top: 0px;
				margin-bottom: 0px;

				> div{
				    padding: 20px;
				}

				hr{
					width: 50%;
				}
			}

			.article-image{

				padding: 0px;
				height: inherit;

				margin-bottom: 0px;
				img{
					width: 100%;
				}
			}
		}

		&.first{
			padding-left: 5px;
			
			.body{
				position: relative;	
				.article-detail{
					position: absolute;
				    top: 0px;
				    right: 0px;
				    background: rgba(238, 238, 238, 0.54);
				    height: 100%;
				    text-align: center;

				    padding: 20px;
				    word-break: break-word;
				    overflow: hidden;
				    margin: 0px;

				    .article-title{
				    	position: relative;
					    top: 50%;
				    }
				}

				.article-image{
					margin-top: 0px;
				}
			}
		}
	}
}

.btn-container{
	text-align: center;
}
.tag-contanier{
	text-align: left;
	margin-bottom: 30px;
	
	>div{
		padding: 15px;
	}

	span:hover,span:active,span:focus{
		font-weight: bold;
		cursor: pointer;
	}
}

.related-post{
	.card header div.card-title{
		font-weight: bold;
		background-color: #fff;
		color: #000;
		padding-left: 0px;
	}

	.card .row{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}

.comments{
	text-align: left;
	margin-bottom: 70px;

	article{
		header{
			text-align: left;
		}
	}

	.card .row{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	.body{
		.comment{
			height: inherit;
			display: table;
			> div{
				display: table-cell;
			}

			.profile-container{
				width: 10%;
				min-width: 80px;

				.user-profile{
					width: 70px;	
					height: 70px;
					background-size: cover;
					border-radius: 70px;
	                border: 1px solid #eee;
				}
			}
			.text-container{
				width: 90%;
				vertical-align: middle;
				.text{
				    width: 90%;
				    text-align: left;
    				margin: auto;
					padding: 10px;
					border: 1px solid #eee;
				}
			}
			
			
		}	
	}
	
}