<div class="modal-body">
	<div class="close-btn link" ng-click="ctrl.close()">X</div>
    <img ng-src="{{ctrl.post.image.image_url}}">
    <div class="modal-btn">
    	<button class="btn btn-default btn-banner fixed"> 
            <i class="neekrung-icon icon-map-marker"></i>
        </button>
        <button class="btn btn-default btn-banner fixed"> 
            <i class="neekrung-icon icon-share"></i>
        </button>	
    </div>
    <div class="modal-detail big center">
    	ฉันคือ คนแต่งกวี...
    </div>
</div>