<div class="modal-body modal-editor">
	<div class="form-group">
        <label> Title </label>
		<input type="text" class="form-control" placeholder="Title" ng-model="ctrl.content.title">    
    </div>
	<div class="form-group">
		<label> Content </label>
		<div class="template" style="display: inline-block;margin-left: 10px;">
			<div class="btn-group">
		        <label 
		        	class="btn btn-default" 
		        	ng-model="ctrl.content.templateCode" 
		        	ng-repeat="templateList in ctrl.templateList"
		        	uib-btn-radio="templateList">
		        	<img class="template-icon" ng-src="{{ctrl.rootPath+'/icon/'+templateList+'.png'}}">
		        </label>
		        
		    </div>
		</div>
		<div ng-if="ctrl.content.templateCode=='text'" class="row">
			<div class="col-sm-12 border text">
				<neekrung-editor ng-model="ctrl.content.text[0]"></neekrung-editor>	
			</div>
		</div>

		<div ng-if="ctrl.content.templateCode=='img'" class="row">
			<div class="col-sm-12 border img">
				<neekrung-choose-image ng-model="ctrl.content.image_url" helper="'Must be 1000x100px'"></neekrung-choose-image>
			</div>
		</div>

		<div ng-if="ctrl.content.templateCode=='text-text'" class="row">
			<div class="col-sm-6 border text">
				<neekrung-editor ng-model="ctrl.content.text[0]"></neekrung-editor>	
			</div>
			<div class="col-sm-6 border text">
				<neekrung-editor ng-model="ctrl.content.text[1]"></neekrung-editor>	
			</div>
		</div>

		<div ng-if="ctrl.content.templateCode=='img-text'" class="row">
			<div class="col-sm-6 border img">
				<neekrung-choose-image ng-model="ctrl.content.image_url" helper="'Must be 1000x100px'"></neekrung-choose-image>
			</div>
			<div class="col-sm-6 border text">
				<neekrung-editor ng-model="ctrl.content.text[0]"></neekrung-editor>	
			</div>
		</div>

		<div ng-if="ctrl.content.templateCode=='text-img'" class="row">
			<div class="col-sm-6 border text">
				<neekrung-editor ng-model="ctrl.content.text[0]"></neekrung-editor>	
			</div>
			<div class="col-sm-6 border img">
				<neekrung-choose-image ng-model="ctrl.content.image_url" helper="'Must be 1000x100px'"></neekrung-choose-image>
			</div>
		</div>

		<div ng-if="ctrl.content.templateCode=='text-text-extra'" class="row">
			<div class="col-sm-6 border text">
				<neekrung-editor ng-model="ctrl.content.text[0]"></neekrung-editor>	
			</div>
			<div class="col-sm-6 border text">
				<neekrung-editor ng-model="ctrl.content.text[1]"></neekrung-editor>	
			</div>
		</div>
	</div>
	<div style="margin-top:20px;text-align:right">
		<button type="button" ng-click="ctrl.submit()" class="btn btn-info">Save</button>
		<button type="button" ng-click="ctrl.dismiss()" class="btn btn-danger">Cancle</button>
	</div>
</div>

